<div>
  <div>
    <div class="input-wrapper">
      <span>Player 1</span>
      <input (change)="setFirstPlayerName($event)" />
    </div>
    <div class="input-wrapper">
      <span>Player 2</span>
      <input (change)="setSecondPlayerName($event)" />
    </div>
  </div>
  <div class="status">
    {{ statusMessage }}
  </div>
  <div class="board">
    <div *ngFor="let row of [0, 1, 2]" class="board-row">
      <app-cell
        *ngFor="let col of [0, 1, 2]"
        [row]="row"
        [col]="col"
        [piece]="board[row][col]"
        (click)="move(row, col)"
      ></app-cell>
    </div>
  </div>
  <br />
  <button type="button" *ngIf="gameOver" class="new-game" (click)="newGame()">
    New Game
  </button>
  <div>
    <span class="status">
      logs
    </span>
    <div *ngFor="let item of twoPlayerLogs; let i =index" class="cursor-pointer mt-2" >
      <div (click)="goToMove(item, i)">
        {{item.log}}
      </div>
        
    </div>
  </div>
</div>

